<nav
    class="fixed top-0 h-20 w-full flex justify-between items-center p-5 bg-zinc-900 text-white border-b border-zinc-300 z-50"
>
    <h1 class="text-lg lg:text-2xl font-bold pl-4 text-center lg:text-left">
        Aluminio: Recursos, Reciclaje y Geopolítica
    </h1>

    <!-- Botón hamburguesa solo visible en <lg -->
    <button
        id="menu-btn"
        class="lg:hidden text-white text-3xl focus:outline-none"
    >
        ☰
    </button>

    <ul
        id="menu"
        class="hidden justify-around flex-row lg:flex lg:flex-row gap-4 lg:gap-4 absolute lg:static top-20 left-0 w-full lg:w-auto bg-zinc-900 lg:bg-transparent p-4 lg:p-0"
    >
        <li
            class="font-bold text-lg p-2 lg:pr-4 hover:text-amber-400 text-center lg:text-left"
        >
            <a href="/">Inicio</a>
        </li>
        <li
            class="font-bold text-lg p-2 lg:pr-4 hover:text-amber-400 text-center lg:text-left"
        >
            <a href="/Reciclaje">Reciclaje</a>
        </li>
        <li
            class="font-bold text-lg p-2 lg:pr-4 hover:text-amber-400 text-center lg:text-left"
        >
            <a href="/Reservas-y-geopolitica">Reservas y geopolitica</a>
        </li>
    </ul>
</nav>

<script>
    const menuBtn = document.getElementById("menu-btn");
    const menu = document.getElementById("menu");

    menuBtn.addEventListener("click", () => {
        if (menu.classList.contains("hidden")) {
            menu.classList.remove("hidden");
            menu.classList.add("flex");
        } else {
            menu.classList.remove("flex");
            menu.classList.add("hidden");
        }
    });
</script>
